<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telewave.business.twe">

    <application>
        <activity
            android:name="com.telewave.battlecommand.activity.LoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" /> <!-- 加入adjustPan键盘就会覆盖屏幕 -->
        <activity
            android:name="com.telewave.battlecommand.activity.FirstLoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.ScanCodeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.InputLinkAddressActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.telewave.battlecommand.activity.InputLinkAddressMoreActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.telewave.battlecommand.activity.ChoiceServerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.telewave.battlecommand.activity.RegisterActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.telewave.battlecommand.activity.RegisterWeiZhanChoiceActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.RegisterWeiZhanSearchActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.telewave.battlecommand.activity.DisasterDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.telewave.battlecommand.activity.NotifyListActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.NotifyDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.RoutePlanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 灾情路径规划地址页面 -->
        <activity
            android:name="com.telewave.battlecommand.activity.RouteAddressActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 路径规划选择位置 -->
        <activity
            android:name="com.telewave.battlecommand.activity.RoutePlanChoiceAddressActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 路径规划搜索位置 -->
        <activity
            android:name="com.telewave.battlecommand.activity.RoutePlanSearchAddressActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的页面  装备实力 -->
        <activity
            android:name="com.telewave.battlecommand.activity.EquipmentStrengthActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的页面  水源采集 -->
        <activity
            android:name="com.telewave.battlecommand.activity.HydrantMsgActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.ScheduleActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.treelist.view.ListViewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的页面  知识库 -->
        <activity
            android:name="com.telewave.battlecommand.activity.KnowledgeBaseActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的页面  直播 -->
        <activity
            android:name="com.telewave.battlecommand.directboard.activity.DirectBroadCastActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的页面  值班表 -->
        <activity
            android:name="com.telewave.battlecommand.activity.DutyTableActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <!-- 我的页面  设置 -->
        <activity
            android:name="com.telewave.battlecommand.activity.SystemSetActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 开启自启动页面 -->
        <activity
            android:name="com.telewave.battlecommand.activity.OpenAutoStartActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.DisposalProceduresActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.DangerChemicalActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.ImportUnitActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.ImportUnitDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 使用singleTask模式 destroy时程序回收图片 -->
        <activity
            android:name="com.telewave.battlecommand.activity.ChatPicShowActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 预案列表页面 -->
        <activity
            android:name="com.telewave.battlecommand.activity.ReservePlanActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 政策规范 -->
        <activity
            android:name="com.telewave.battlecommand.activity.PolicyGuiFanActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 政策规范详情 -->
        <activity
            android:name="com.telewave.battlecommand.activity.PolicyGuiFanDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 案例库 -->
        <activity
            android:name="com.telewave.battlecommand.activity.ExampleLibActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 案例库详情 -->
        <activity
            android:name="com.telewave.battlecommand.activity.ExampleLibDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMSearchContactActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 签到应答 -->
        <activity
            android:name="com.telewave.battlecommand.activity.RollCallAnswerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.AboutSystemActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.AddWaterActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 更新版本记录 -->
        <activity
            android:name="com.telewave.battlecommand.activity.UpdateVersionRecordActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMSelectContactActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- IM发送位置选择位置 -->
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMChoiceAddressActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMSingleActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMGroupActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMGroupSetActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMEditGroupNameActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMGroupMemberEditActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMLocationActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMUserInfoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMSelectGroupMemberActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMFilePreviewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.imui.activity.IMForwardingSelectActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.LockScreenMessageActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.trtc.TRTCVideoCallActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.telewave.battlecommand.trtc.TRTCAudioCallActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.telewave.battlecommand.trtc.TRTCCallReceiveActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.telewave.battlecommand.activity.ImagePagerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.telewave.battlecommand.navi.DrvingGuideActivity" />
        <activity android:name="com.telewave.battlecommand.navi.BNaviGuideActivity" />
        <activity android:name="com.telewave.battlecommand.navi.WNaviGuideActivity" />
        <activity
            android:name="com.telewave.battlecommand.activity.EditDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.directboard.activity.AnchorLiveBoardActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.directboard.activity.AudienceLiveBoardActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.directboard.activity.LiveBoardListActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.telewave.battlecommand.directboard.activity.LiveBoardSetActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.ExpertLibActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.ExpertSearchActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.ExpertInfoDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.NineSmallPlaceActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.NinePlaceDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.DisasterStatisticActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.YuAnPlanActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.YuAnUnitActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.PlanUnitDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.telewave.battlecommand.activity.ChemicalDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.telewave.battlecommand.activity.DisposalProcedureDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name="com.huawei.android.hms.agent.common.HMSAgentActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <!-- 注册mqtt服务 -->
        <activity
            android:name="com.vivo.push.sdk.LinkProxyClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- MyMqttService -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mwI8LYDZEdSh9xmGkwpZyg1cIyEX022g" />

        <!-- 更新APP服务 -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=100992415" />

        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="0" />

        <!-- 悬浮来电服务 -->
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="0" />
        <!-- 视频通话悬浮框服务 -->
        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="com.telewave.battlecommand.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" />
        <!-- 语音通话悬浮框服务 -->
        <provider
            android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider"
            android:authorities="com.telewave.battlecommand.updateSdk.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <!-- ********小米推送service和receiver设置start******** -->
        <receiver
            android:name="com.telewave.business.twe.Receiver.LockScreenMsgReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- 监听锁屏消息 -->
                <action android:name="com.telewave.microstation.LockScreenMsgReceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.telewave.battlecommand.imui.thirdpush.XiaomiMsgReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <receiver
            android:name="com.telewave.battlecommand.imui.thirdpush.HUAWEIPushReceiver"
            android:permission="com.telewave.battlecommand.permission.PROCESS_PUSH_MSG">
            <intent-filter>

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须, 用于接收透传消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 必须, 用于接收通知栏消息点击事件 此事件不需要开发者处理，只需注册就可以 -->
                <action android:name="com.huawei.intent.action.PUSH_DELAY_NOTIFY" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.telewave.battlecommand.imui.thirdpush.MEIZUPushReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息 -->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="com.tencent.qcloud.uipojo.thirdpush" />
            </intent-filter>
        </receiver>

        <!-- 自实现小米推送的接收广播 -->
        <receiver android:name="com.telewave.battlecommand.imui.thirdpush.VIVOPushMessageReceiverImpl">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <!-- ********小米推送service和receiver设置end******** -->


        <!-- ********华为推送设置start******** -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:exported="false" />
        <service android:name="com.telewave.battlecommand.service.MyMqttService" />

        <service android:name="com.telewave.battlecommand.service.UpdateService" />
        <service
            android:name="com.telewave.battlecommand.service.FloatingCallService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.telewave.battlecommand.service.FloatVideoWindowService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.telewave.battlecommand.service.FloatAudioWindowService"
            android:enabled="true"
            android:exported="true" />

        <!-- ********华为推送设置end******** -->


        <!-- ********魅族推送设置start******** -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <!-- ********魅族推送设置end******** -->


        <!-- ********vivo推送设置start******** -->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />

        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />

        <!-- push应用定义消息receiver声明 -->
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <service
            android:name="com.huawei.hms.support.api.push.service.HmsMsgService"
            android:enabled="true"
            android:exported="true"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.huawei.push.msg.NOTIFY_MSG" />
                <action android:name="com.huawei.push.msg.PASSBY_MSG" />
            </intent-filter>
        </service>
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:exported="true" />

        <!-- Android 7.0 解决私有目录限制访问问题 -->
        <!--
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.telewave.battlecommand.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        -->

    </application>
    <!-- 获取CUID，用于鉴权，请求签名等 -->
    <permission
        android:name="com.telewave.battlecommand.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signatureOrSystem" />
    <!-- 这个权限用于进行网络定位 -->
    <permission
        android:name="com.telewave.battlecommand.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <!-- 这个权限用于访问GPS定位 -->
    <permission
        android:name="com.telewave.battlecommand.push.permission.MESSAGE"
        android:protectionLevel="signature" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <permission
        android:name="com.telewave.battlecommand.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- MQ需要这个权限 -->
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 适配8.0系统未知应用安装权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 悬浮窗的 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- ********华为推送权限设置******** -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- ********小米推送权限设置******** -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <!-- ********魅族推送权限设置******** -->
    <!-- 兼容flyme5.0以下版本，魅族内部集成pushSDK必填，不然无法收到消息 -->
    <uses-permission android:name="com.telewave.battlecommand.permission.PROCESS_PUSH_MSG" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="com.telewave.battlecommand.permission.MIPUSH_RECEIVE" />

    <!-- 兼容flyme3.0配置权限 -->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />

    <uses-permission android:name="com.telewave.battlecommand.push.permission.MESSAGE" />

    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />

    <uses-permission android:name="com.telewave.battlecommand.permission.C2D_MESSAGE" />

</manifest>